<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yaohl0911.dao.UserMapper">

    <select id="getUserList"  parameterType="map" resultType="user">
        SELECT * FROM mybatis.users LIMIT #{startIndex}, #{pageSize};
    </select>

    <select id="getUserById" parameterType="int" resultType="com.yaohl0911.pojo.User">
        SELECT * FROM mybatis.users WHERE id=#{id};
    </select>
    <select id="getUserLike" resultType="com.yaohl0911.pojo.User">
        SELECT * FROM mybatis.users WHERE name LIKE #{valus};
    </select>

    <insert id="addUser" parameterType="map">
        INSERT INTO mybatis.users (id, name, age) VALUES (#{ID}, #{NAME}, #{AGE});
    </insert>

    <update id="updateUser" parameterType="user">
        UPDATE mybatis.users SET name=#{name}, age=#{age} WHERE id=#{id};
    </update>

    <delete id="deleteUser" parameterType="int">
        DELETE FROM mybatis.users WHERE id=#{id};
    </delete>
</mapper>